.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  .container#search-view
    
    %form.navbar-form.navbar-left
      .form-group
        %i.fa.fa-search.search-icon
        %input.search-field{placeholder: "enter url, title or #topic", type: "text"}/
    %ul.nav.navbar-nav.navbar-right
      %li
        %a{href: "#"} Link
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          Dropdown
          %b.caret
        %ul.dropdown-menu
          %li
            %a{href: "#"} Action
          %li
            %a{href: "#"} Another action
          %li
            %a{href: "#"} Something else here
          %li.divider
          %li
            %a{href: "#"} Separated link
